doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul 
        li 
          a(href='/') Hjem
        li 
          a(href='/users/register') Registere
        li 
          a(href='/users/login') login
    block content


